//main.scss - the mother of our sass
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 600;
}

@import 'handleliste/struktur';
@import 'handleliste/vareliste';